# Python
*.pyc
*.pyo
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# IDE or editor-specific files
.vscode/
.idea/

# Compiled Python files
*.pyc
__pycache__/

# Package directories
*.egg-info/
dist/
build/

# OS or system-specific files
.DS_Store
Thumbs.db